/*______________________
/* GLOBAL ADJUSTMENTS */

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}


/*______________________
/* INTERFACE ELEMENTS */

body {
  background: rgba(30, 6, 38, 0.9);
  background-image: linear-gradient(180deg, #230e2f, #15142b);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

header,
main,
section {
  max-width: 700px;
}

header > h1 {
  color: white;
  text-shadow: 3px 3px 0px black;
  margin-top: 50px;
}

main,
section {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.502);
}

a {
  color: #15142b;
  background-color: rgba(55, 41, 145, 0.1);
  padding: 0 3px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 0.5px dotted #372991;
  text-align: center;
}

a:hover {
  color: #372991;
  border-bottom: 1px solid #372991;
} 


/*______________
/* RESPONSIVE */

@media screen and (max-width: 600px) {
  header > h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 26px;
  }

  section {
    margin: 5px;
  }

}
