@import url("https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/*___________________________________
              
* GLOBAL ADJUSTMENTS *
_____________________________________*/
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Krub", sans-serif;
  background-color: #f5f6fa;
}

/*_________         
/* titles */
.title {
  max-width: 100%;
  text-align: center;
  font-size: max(45px, 1.8vw);
  color: #1e0626;
  text-shadow: 2px 2px 4px #1e0626;
}

/*___________________________________
              
* HEADER *
_____________________________________*/
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  z-index: 2;
  background-color: #1e0626;
  padding: 0;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

#image-carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  animation: slide 10s infinite ease-in-out;
}

#image-carousel figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 5s ease-in-out;
  background-size: cover;
  background-position: center;
}

#image-carousel figure.active {
  opacity: 1;
}

#image-carousel figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

@keyframes slide {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#overlay {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(30, 6, 38, 0.6);
  z-index: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: background 0.5s ease-in-out;
}

#content {
  text-align: center;
  z-index: 2;
  color: #fff;
}

#content h1 {
  padding-top: 1rem; /*acrescentei aqui*/
  font-size: 60px;
  font-family: inherit;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#content h2 {
  margin-bottom: 15px;
  text-align: center;
  font-size: 28px;
  max-width: 100%;
  color: #fff;
  line-height: 1.9;
  letter-spacing: 0.03em;
  font-weight: normal;
  text-shadow: none;
  animation-delay: 2s;
}

#content p {
  margin-bottom: 8px;
  line-height: 1.7;
  font-weight: 300;
  font-size: 22px;
  color: #fff;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
  gap: 20px;
}

.card {
  height: 70px;
  width: 220px;
  background-color: transparent;
  border: 0.3px solid #fff;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  font-family: "Krub", "Segoe UI", sans-serif;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.cards .card {
  transition: background 0.2s ease-out, box-shadow 0.2s ease-in, transform 400ms;
}

.button-card:hover,
.cards .card:hover {
  background: rgb(174, 106, 255);
  transform: scale(1.1, 1.1);
}

.button-card:hover::before {
  width: 100%;
  opacity: 1;
}

.button-card::before {
  content: "";
  display: block;
  width: 0px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(174, 106, 255, 0.8);
  transform: skewX(-20deg);
  transition: all 0.5s;
}

.button-style {
  margin: 0 auto;
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(174, 106, 255);
  background: transparent;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.2s ease-out, box-shadow 0.2s ease-in;
  display: flex;
  align-items: center;
}

.button-style:hover {
  background: rgb(174, 106, 255);
}

.button-style:hover::before {
  animation: sh02 0.5s 0s linear;
}

.button-style::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.tip {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  align-items: center;
  letter-spacing: 1px;
  margin: auto;
  font-family: "Krub", "Segoe UI", sans-serif;
  text-decoration: none;
  color: #fff;
}

.botao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.botao__fale__conosco {
  /* margin: 0 auto; */
  position: relative;
  padding: 15px;
  border-radius: 7px;
  border: 1px solid rgb(174, 106, 255);
  font-size: 14px;
  font-family: "Krub", "Segoe UI", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 2px;
  background: transparent;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.2s ease-out, box-shadow 0.2s ease-in;
}

.botao__fale__conosco:hover {
  background: rgb(174, 106, 255);
}

.botao__fale__conosco button:hover::before {
  animation: sh02 0.5s 0s linear;
}

.botao__fale__conosco button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

.botao__fale__conosco button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}

/*___________________________________
              
* SERVIÇOS *
_____________________________________*/

#servicos {
  padding: 5%;
}

.servicos {
  padding: 14% 10%;
}



.servicos__container {
  display: flex;
  gap: 40px;
}

.servico {
  position: relative;
  width: 600px;
  height: 100%;
  background-color: #f2f2f2;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.servico__image {
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.servico:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.servico__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.servico:hover .servico__content {
  transform: rotateX(0deg);
}

.servico__title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Krub", sans-serif;
  text-align: center;
  color: #1e0626;
  text-shadow: 2px 2px 4px #1e0626;
  margin: 0 auto;
  padding: 15px;
}

.servico:hover svg {
  scale: 0;
}

.servico__description {
  /* margin: 10px 0 0; */
  font-size: 12px;
  font-weight: 500;
  font-family: "Krub", sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: #777;
}

/*___________________________________
              
* BANNER *
_____________________________________*/
#banner {
  padding-bottom: 6%;
}

.banner {
  background-color: #1e0626;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  margin-bottom: 100px;
  margin-top: -150px;
}

/*___________________________________
              
* TESTIMONIALS *
_____________________________________*/
.testimonials {
  padding: 5%;
}

#carouselExampleDark {
  position: relative;
}

.carousel {
  margin-bottom: 5rem;
}

.carousel-caption {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.carousel-caption h4,
.carousel-caption h5,
.carousel-caption svg,
.carousel-caption p {
  margin: 0;
}

.carousel-caption h4 {
  color: #000;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

.carousel-caption h5 {
  margin-top: 12px;
  color: #ccc;
}

.carousel-caption p {
  font-weight: 400;
  color: #000;
  font-size: 24px;
  font-family: "Krub", sans-serif;
}

span {
  color: #1e0626;
  font-weight: 800;
}

.carousel-item {
  height: 20rem;
}

/*___________________________________

* Contacto *
_____________________________________*/
#contacto {
  padding-top: 50px;
}

.contact_conteudo {
  padding: 5% 10%;
  display: flex;
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 0px 5px 5px;
  background: linear-gradient(to right, #1e0626, #62197a);
  box-shadow: 0px -10px 10px 0px #888888;
}

.container form .descr {
  font-size: 25px;
  font-weight: 500;
  color: #e8e8e8;
  margin-bottom: 2px;
  margin-top: 30px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input,
textarea {
  margin: 1em 0 1em 0;
  width: 500px;
  position: relative;
}

.input input,
textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #e8e8e8;
  border: none;
  border-bottom: 2px solid #e8e8e8;
  background: transparent;
  border-radius: none;
  width: 100%;
  resize: none;
}
#message {
  padding: 2px;
  border-radius: 5px;
  border: 2px solid #e8e8e8;
}

.input label {
  font-size: 100%;
  position: absolute;
  left: 0;
  color: #e8e8e8;
  padding: 1em;
  margin-left: 0.1em;
  pointer-events: none;
  transition: all 0.5s ease;
  text-transform: uppercase;
}

.input :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.input textarea:focus ~ label,
.input textarea:valid ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  padding: 0.4em;
  background: transparent;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(174, 106, 255);
}

.form button {
  color: #e8e8e8;
  font-size: 20px;
  align-self: flex-start;
  padding: 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.form button:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8e8e8;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.form button:hover:before {
  opacity: 0.2;
}

.form button:hover {
  transform: translateY(-3px);
  background-color: #62197a;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.contact_imagem {
  width: 50%;
  border-radius: 5px;
  border-radius: 5px 5px 5px 0px;
  box-shadow: 0px -10px 10px 0px #888888;
}

/*___________________________________

* FOOTER *
_____________________________________*/
footer {
  width: 100%;
  background: #222222;
}

.footer-link {
  text-decoration: none;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

/*_______________________________*/
/* Column 1: Contact Information */
.footer-contacts,
.footer-list,
#footer-subscribe {
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  padding: 1rem;
}

.footer-contacts p,
#footer-subscribe p {
  font-size: 18px;
  line-height: 1.5;
  color: #ccc;
}

.footer-logo {
  width: 100px;
  margin-bottom: 1.25rem;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.footer-social-media .footer-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  color: #f2f2f2;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.4s;
}

.footer-link i {
  font-size: 1.25rem;
}

.footer-link:hover {
  opacity: 0.8;
}

#facebook {
  background-color: #4267b3;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#linkedin {
  background-color: #0e76a8;
}

#blog {
  background-color: #000;
}

/*________________________*/
/* Column 2: Contact List */
.footer-list {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 0.5rem;
  list-style: none;
  color: #ccc;
}

.footer-list h3 {
  color: #fff;
}

.footer-list a.footer-link {
  color: #ccc;
  transition: all 0.4s;
  text-decoration: none;
}

.footer-list a.footer-link:hover {
  color: rgb(174, 106, 255);
}

/*___________________________________*/
/* Column 3: Newsletter Subscription */
#footer-subscribe {
  display: flex;
  flex-direction: column;
}

#footer-subscribe h3 {
  color: #fff;
}

#footer-subscribe p {
  color: #ccc;
  font-size: 18px;
}

#input-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 4px;
}

#input-group input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

#input-group button {
  background-color: #1e0626;
  border: none;
  color: #7f37c9;
  padding: 12px;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

#input-group button:hover {
  background-color: #7f37c9;
  color: #fff;
}

/*_________________*/
/* Link to the top */
.link-top {
  text-decoration: none;
  padding: 20px;
  position: fixed;
  right: 5px;
  bottom: 1px;
}

.link-top i {
  font-size: 2rem;
  color: #7f37c9;
}

/*____________*/
/* Copyright */
.footer-copyright {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  padding: 1rem;
  color: #ccc;
}

/*______________________
   
  * RESPONSIVE TO MOBILE *
  _______________________*/

@media screen and (max-width: 1300px) {
  .logo {
    top: 0.75rem;
  }
  .servicos {
    padding: 14% 2%;
  }

  #servicos {
    padding: 2%;
  }

  .servicos__container {
    padding: 10%;
    flex-direction: column;
    align-items: center;
  }

  .servico {
    width: 400px;
  }

  .servico__description {
    font-size: 16px;
  }

  .carousel-caption p {
    font-size: 18px;
  }

  .input,
  textarea {
    width: 350px;
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    top: 6rem;
  }

  #content {
    padding: 20px;
  }

  #content h1 {
    font-size: 50px;
  }

  #content h2 {
    font-size: 22px;
  }

  .card {
    width: 180px;
  }

  .servico {
    width: 400px;
  }

  .carousel-caption p {
    font-size: 16px;
  }

  .contact_conteudo {
    padding: 5%;
  }
}

@media screen and (max-width: 880px) {
  #content h1 {
    font-size: 40px;
  }

  #content h2 {
    font-size: 22px;
  }

  .cards {
    gap: 10px;
  }

  .carousel-caption p {
    font-size: 14px;
  }

  .input,
  textarea {
    margin: 0.5em 0 0.5em 0;
    width: 100%;
  }

  .form button {
    padding: 0.5em;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    top: 3rem;
  }

  #content {
    padding: 20px;
  }

  #content h1 {
    font-size: 35px;
    margin-top: 110px;
  }

  #content h2 {
    font-size: 18px;
  }

  #content p {
    font-size: 18px;
  }

  .card p {
    font-size: 15px;
  }

  .cards {
    flex-direction: column;
    gap: 30px;
    padding: 10px;
  }

  .cards .card {
    width: 200px;
    height: 70px;
  }

  .servico {
    width: 380px;
  }

  .servicos__container {
    padding-bottom: 20%;
  }

  .servico__description {
    font-size: 14px;
  }

  .contact_conteudo {
    padding: 2%;
  }

  .footer-content {
    padding: 2rem;
  }

  .footer-contacts,
  .footer-list,
  #footer-subscribe {
    padding: 0.5rem;
  }

  #input-group input {
    padding: 6px;
  }

  #input-group button {
    padding: 6px;
  }

  /*_____________________
  
  * CONTACTO *
_______________________*/
  .container {
    width: 50%;
  }
  .contact_imagem {
    width: 50%;
  }
}


@media screen and (max-width: 660px) {
    .logo {
      top: 1rem;
    }

 /* FOOTER*/
 .footer-content {
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
}
}
 

@media screen and (max-width: 430px) {
  /* HEADER */
  .logo {
    max-width: 50%;
    top: 30px;
  }

  #content {
    padding: 20px;
  }

  #content h1 {
    font-size: 28px;
    padding-top: 30px;
  }

  #content h2 {
    font-size: 14px;
    padding: 0 30px 0 30px;
  }

  p {
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px 0 20px;
  }

  .cards {
    flex-direction: column;
    gap: 15px;
    padding: 5px;
  }

  .cards .card {
    width: 50%;
  }

    /*_____________________
  
  * SERVIÇOS *
  _______________________*/

  .servicos__container {
    padding-bottom: 30%;
  }

  /*_____________________
  
  * TESTIMONIALS *
  _______________________*/

  .carousel-caption h4 {
    font-size: 16px;
    margin-bottom: 3px;
  }

  .carousel-caption h5 {
    font-size: 12px;
  }

  .carousel-caption p {
    font-size: 12px;
    font-weight: 400;
 
  }

  .carousel-caption span {
    font-size: 16px;
    font-weight: 600;
  }
 
  /*_____________________
  
  * CONTACTO *
  _______________________*/
  .container {
    width: 100%;
  }

  .contact_imagem {
    display: none;
  }

  /* FOOTER*/
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  #input-group input {
    padding: 14px;
  }

  #input-group button {
    padding: 14px;
  }

  .link-top {
    padding: 10px;
  }

  .link-top i {
    font-size: 1.5rem;
  }
}

/*___________________________________*/
@media screen and (max-width: 390px) {
  /* HEADER */
  .logo {
    top: 10px;
  }

  #content h1 {
    font-size: 20px;
    padding-top: 3rem; /*mudei aqui de 4*/
  }

  .cards .card {
    height: auto;
  }

  /* TESTIMONIALS */
  .carousel-item {
    height: 26rem;
  }
}
